@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --color-surface: #141416;
  --color-surface-hover: #1C1C1F;
  --color-surface-dark: #0A0A0B;
}
